@font-face {
    font-family: 'Montserrat', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Raleway:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text:wght@600&family=Lora:ital,wght@1,500&display=swap');
	}

body {
	background: $mainColor;
	// font-family: 'Merriweather', serif;
  font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Major Mono Display', monospace;
  position: relative;
	z-index: -2;
	transition: 0.5s;

    &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/noise02.gif');
        opacity: .05;
        z-index: 0;
	}
	
}
.changed {
	background: black;
	transition: 0.5s;
}

/* COMMON */

// .cursor {
// 	background-image: url(../images/triangle.png);
// 	background-size: cover;
// 	position: absolute;
// 	width: 40px;
// 	height: 40px;
// 	z-index: 2;/*一番手前に来るように*/
// 	pointer-events: none;/*【重要】マウス直下に常に画像があるので、全てをクリックできなくなる。noneにして対応*/
// 	transition: transform 0.1s;
// }



/* Loading Block */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  /* Loading Animation */
  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
  
  /* Hide Loading Block */
  .loaded {
    opacity: 0;
    visibility: hidden;
  }
  
