

header {
	width: 100%;
	margin: 0px 80px;
	padding: 30px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $subColor;
	@media screen and (max-width:$mediaSp) {
		width: 100%;
		margin: 0px 40px;
		padding: 30px 0;
	}
	.Logo {
		display: flex;
		&__text {
			font-size: 42px;
			@media screen and (max-width:$mediaSp) {
				font-size: 22px;
			}
		}
	}
	.Menu {
		display: flex;
		@media screen and (max-width:$mediaSp) {
			display: none;
		}
			&__list {
				margin: 0 0 0 60px;
				position: relative;
			}
			&__link::after{
				@include link-hover;
			}
			&__link:hover::after {
				width: 100%;
			}
	}
}
/* HEADER  */