@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Crimson+Text:wght@600&family=Lora:ital,wght@1,500&display=swap");
@font-face {
  font-family: 'Montserrat', sans-serif; }

body {
  background: #090909;
  font-family: 'Raleway', sans-serif;
  font-family: 'Major Mono Display', monospace;
  position: relative;
  z-index: -2;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/noise02.gif");
    opacity: .05;
    z-index: 0; }

.changed {
  background: black;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/* COMMON */
/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

/* Loading Animation */
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden; }

header {
  margin: 0px 80px;
  padding: 30px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white; }
  @media screen and (max-width: 900px) {
    header {
      margin: 0px 40px;
      padding: 30px 0; } }
  header .Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .Logo__text {
      font-size: 42px; }
      @media screen and (max-width: 900px) {
        header .Logo__text {
          font-size: 22px; } }
  header .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .Menu__list {
      margin: 0 0 0 60px;
      position: relative; }
    header .Menu__link::after {
      content: '';
      width: 0;
      height: 1px;
      background: white;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
    header .Menu__link:hover::after {
      width: 100%; }

/* HEADER  */
.Main {
  margin: 0 120px 160px;
  padding: 300px 0 300px 100px;
  border: 1px solid white;
  color: #090909; }
  @media screen and (max-width: 900px) {
    .Main {
      margin: 0 40px 160px;
      padding: 300px 0 300px 100px; } }
  .Main__canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .Main__title {
    font-size: 120px;
    color: white;
    font-family: 'Cormorant Garamond'; }
  .Main__sub-title {
    font-size: 20px;
    color: white;
    font-family: 'Cormorant Garamond'; }
  .Main__scroll {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: white;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr; }
  .Main__scroll::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: white; }
  .Main__scroll::after {
    -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite; }

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; } }

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%; } }

/* MAIN  */
.About {
  width: 900px;
  margin: 100px auto 0;
  text-align: center;
  position: relative;
  color: white; }
  @media screen and (max-width: 900px) {
    .About {
      width: 100%;
      padding: 0 30px;
      margin: 0; } }
  .About__title {
    color: white;
    font-size: 80px; }
  .About__image {
    margin: 100px 0 0 0;
    text-align: right; }
    @media screen and (max-width: 900px) {
      .About__image {
        margin: 100px 0 80px 0;
        text-align: center; } }
  .About__profile {
    text-align: left; }
    .About__profile--title {
      font-size: 38px; }
    .About__profile--name {
      font-size: 28px;
      margin: 50px 0 0 0; }
    .About__profile--job {
      font-size: 18px;
      margin: 20px 0 0 0; }
    .About__profile--description {
      font-size: 16px;
      line-height: 1.3;
      margin: 30px 0 0 0; }
  .About__more-link {
    width: 200px;
    display: block;
    margin: 200px auto 0;
    padding: 20px 20px;
    color: white;
    text-align: center;
    position: relative; }
    .About__more-link::before {
      content: '';
      position: absolute;
      top: 25px;
      right: 20px;
      width: 10px;
      height: 10px;
      background: #090909;
      border-width: 1px 1px 0 0;
      border-color: white;
      border-style: solid;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .About__more-link::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: white; }
    .About__more-link:hover::after {
      -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1);
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1); }

@keyframes sdl {
  0% {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

/* ABOUT  */
.Works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .Works .WorksImageWrap {
    width: 1200px;
    margin: 0 auto; }
    @media screen and (max-width: 900px) {
      .Works .WorksImageWrap {
        width: 100%;
        padding: 0 50px; } }
  .Works .WorksImage {
    width: 900px;
    padding: 0 0 550px 0;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 0; }
    @media screen and (max-width: 900px) {
      .Works .WorksImage {
        width: 100%;
        padding: 0 0 300px 0; } }
  .Works .WorksImage01 {
    background-image: url("../images/works01.png");
    margin: 300px 0 0 auto; }
    .Works .WorksImage01 .WorkImage__title {
      font-size: 0;
      position: absolute;
      top: 225px;
      left: -230px; }
      @media screen and (max-width: 900px) {
        .Works .WorksImage01 .WorkImage__title {
          font-size: 0;
          position: absolute;
          top: -50px;
          bottom: 0;
          left: 0; } }
  .Works .WorksImage02 {
    background-image: url("../images/works02.png");
    margin: 300px auto 0 0; }
    .Works .WorksImage02 .WorkImage__title {
      font-size: 0;
      position: absolute;
      top: 225px;
      right: -230px; }
      @media screen and (max-width: 900px) {
        .Works .WorksImage02 .WorkImage__title {
          font-size: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0; } }
  .Works .WorksImage03 {
    background-image: url("../images/works03.png");
    margin: 300px 0 0 auto; }
    .Works .WorksImage03 .WorkImage__title {
      font-size: 0;
      position: absolute;
      top: 225px;
      left: -230px; }
      @media screen and (max-width: 900px) {
        .Works .WorksImage03 .WorkImage__title {
          font-size: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0; } }
  .Works .WorksImage04 {
    background-image: url("../images/works04.png");
    margin: 300px auto 0 0; }
    .Works .WorksImage04 .WorkImage__title {
      font-size: 0;
      position: absolute;
      top: 225px;
      right: -230px; }
      @media screen and (max-width: 900px) {
        .Works .WorksImage04 .WorkImage__title {
          font-size: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0; } }
  .Works .WorksImage05 {
    background-image: url("../images/works05.png");
    margin: 300px 0 0 auto; }
    .Works .WorksImage05 .WorkImage__title {
      font-size: 0;
      position: absolute;
      top: 225px;
      left: -230px; }
      @media screen and (max-width: 900px) {
        .Works .WorksImage05 .WorkImage__title {
          font-size: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0; } }
  .Works__more-link {
    width: 200px;
    display: block;
    margin: 200px auto 0;
    padding: 20px 20px;
    color: white;
    text-align: center;
    position: relative; }
    .Works__more-link::before {
      content: '';
      position: absolute;
      top: 25px;
      right: 20px;
      width: 10px;
      height: 10px;
      background: #090909;
      border-width: 1px 1px 0 0;
      border-color: white;
      border-style: solid;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .Works__more-link::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: white; }
    .Works__more-link:hover::after {
      -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1);
      animation: sdl 1.5s cubic-bezier(1, 0, 0, 1); }

@keyframes sdl {
  0% {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

.Blog {
  width: 1280px;
  margin: 200px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Blog__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin: 0 0 100px 0;
    color: white;
    font-size: 80px; }
  .Blog__sub-title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 0 0 50px 0; }
  .Blog__card {
    width: 360px;
    border: solid 1px white;
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1); }
  .Blog__img {
    width: 100%;
    height: 240px;
    background: white; }
  .Blog__description {
    padding: 40px;
    color: white; }
    .Blog__description--title {
      font-size: 20px; }
    .Blog__description--time {
      margin: 10px 0 0 0; }
  .Blog__more-link {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .Blog__more-link--btn {
      width: 200px;
      display: block;
      margin: 200px auto 0;
      padding: 20px 20px;
      color: white;
      text-align: center;
      position: relative; }
      .Blog__more-link--btn::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 20px;
        width: 10px;
        height: 10px;
        background: #090909;
        border-width: 1px 1px 0 0;
        border-color: white;
        border-style: solid;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .Blog__more-link--btn::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: white; }
      .Blog__more-link--btn:hover::after {
        -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1);
        animation: sdl 1.5s cubic-bezier(1, 0, 0, 1); }

@keyframes sdl {
  0% {
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

.Garally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .Garally__title {
    text-align: center;
    margin: 200px 0 0 0;
    color: white;
    font-size: 80px; }
  .Garally__button {
    margin: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .Garally__button--web {
      margin: 100px 60px;
      padding: 20px 40px;
      color: white;
      border: solid 1px white; }
    .Garally__button--movie {
      margin: 100px 60px;
      padding: 20px 40px;
      color: white;
      border: solid 1px white; }

footer {
  width: 100%;
  height: 200px; }
